@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  14%, 28% {
    transform: scale(1.1);
  }
  42% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.1);
  }
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
.animate-fade {
  animation: fade 5s ease-in-out;
}


.animate-heartbeat {
  animation: heartbeat 1.2s ease-in-out infinite;
}

